body {
    background-color: #EEEEEE;
}

h1,h2,h3,h4,h5,h6 {
    color: #0000DD;
}

.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons, .fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons button {
    background-color: #EEEEEE;
}

body[dir=rtl] .fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons .fl-prefsEditor-reset {
    border-left: 1px solid black;
}
